.beautyoffer-section {
    padding: 20px 0;

    .beautyoffer-heading {
        h2 {
            font-size: 30px;
            padding: 0 0 16px 12px;

            @media (max-width: 768px) {
                font-size: 26px;
            }
        }
    }

    .beautyoffer-slider {
        .beautyoffer-image {
            padding: 0 20px 0 0;

            img {
                border-radius: 20px;
            }
        }
    }

    .slick-next {
        right: 35px;


    }

    .slick-prev {
        z-index: 1;
        left: 20px;
    }

    .slick-prev::before,
    .slick-next::before {
        font-size: 25px;
        color: #0078AD;
    }

    .slick-dots {
        display: none !important;
    }
}