body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: #fff;

    ::-webkit-scrollbar {
        display: none;
    }

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // cursor: none;
}

div[class*='kursor'].kursor--1 {
    left: 0px;
    top: 0px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid rgba(var(--k-color), 1);
    transition: all 0.2s ease, top 0.18s ease-out, left 0.18s ease-out;
}

div[class*='kursor'].kursor--1+.kursorChild {
    display: block;
    width: 6px;
    height: 6px;
    background: rgba(var(--k-color), 1);
    border-radius: 50%;
    transition: all 0.2s ease, top 0s ease-out, left 0s ease-out;
}

a {
    text-decoration: none;
    color: #000;
    // font-family: "Quicksand", sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: "Quicksand", sans-serif;
}

img {
    max-width: 100%;
}


p:last-child {
    margin: 0;
}

p {
    font-family: "Quicksand", sans-serif;

}

ul {
    margin: 0;
    padding: 0;
}

.fav-icon {
    .icon {
        font-size: 22px;
        cursor: pointer;
        transition: color 0.3s ease;


        &.filled {
            color: rgb(255, 55, 55);
            fill: rgb(255, 55, 55);

        }
    }
}

