.footer {
    padding: 60px 0 0 0;

    

    .copyright {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 40px;
        border-top: 1px solid #bfbebe;

        .footer-logo {
            width: 100px;
        }

        p {
            font-size: 14px;
            font-weight: 600;
        }
    }
}